.open-modal-btn{
	padding: 12px 24px;
	background-color: #3598db;
	color:white;
	border: none;
	border-radius:4px ;
	cursor: pointer;
	font-size: 16px;
	transition: transform 0.3s ease, background-color 0.3s ease;

}

.open-modal-btn:hover{
	background-color: #2980b9;
	transform: scale(1.05);
}